
<div class="jumbotron">
    <div class="container find-strain">
        <form class="form-inline">
            <div class="form-group">
            <label for="inputStrain">Strain</label>
            <input type="text" class="form-control" id="inputStrain" placeholder="enter strain, i.e. kush">
            </div>
            <button type="button" class="btn btn-default">Find</button>
        </form>
    </div>
</div>

<!-- search results -->
<div class="container">
    <div class="row strain" id="strains"></div>
</div> <!-- /container -->
